@model IEnumerable<SwEventManager.Models.Event>

@{
    ViewBag.Title = "Event Page";
}

<h2> All Events</h2>
<hr />



<div class="boxed">
    @foreach (var item in Model)
    {
        //display image here
        <div class="EventDisplay">
            <a>
                <img src="@item.imagePath" alt="image" style="width:170px">
            </a>
            <br />
            <a href="@Url.Action("Details","UserEvents",new { id = item.EventID })">

                <Label>
                    Event: @Html.DisplayFor(modelItem => item.EventName)
                    <br />
                    Location: @Html.DisplayFor(modelItem => item.Location)
                </Label>
            </a>
        </div>
    }
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br />


