@model IEnumerable<SwEventManager.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model) {

    //display image here 
    <br />
    <img src="item.imagePath" alt="photo" />
    <br />
<Label>
    @Html.DisplayFor(modelItem => item.Location):@Html.DisplayFor(modelItem => item.EventName)
</Label>
        
   

}


