@model IEnumerable<SwEventManager.Models.Event>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Events</h2>



    @foreach (var item in Model)
    {

        //display image here
        <br />
        <img src="\item.imagePath" alt="photo" />
        <br />
        <a href="@Url.Action("Details","UserEvents",new { id = item.EventID })">
            <Label>
                @Html.DisplayFor(modelItem => item.Location): @Html.DisplayFor(modelItem => item.EventName)
                <a href="~/Views/UserEvents/Details.cshtml">~/Views/UserEvents/Details.cshtml</a>
            </Label>
        </a>
       



    }


