@model SwEventManager.Models.Order

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1> Cart </h1>
<body>
    <div>
        @*show the total price and the event name here*@
        @Html.ViewBag.aPrice; 
    </div>
</body>




